  <div class="container">
    <div class="row ">
      <div class="col-sm-10 col-md-12 mx-auto mt-3">
        <h3 class="h3">About this Site</h3>
        <div class="card2 w-sm-75 w-md-50 mx-auto mt-3 mb-3">
          <div class="card-body">
            <h5 class="card-title">初心者が0からMVCモデルやネットワーク構造を理解しながら組み立てるサイトです</h5>
            <p class="card-text">滞在地から500kmほど離れている実家にあるラズパイをサーバーとして、SSH等を利用してデプロイしています。</p>
            <p class="card-text">初の実用サイトなので、色々ミスもあるかもしれませんが、楽しんで少しずつやっています。</p>
            <p class="card-text text-center h5">
              現在のCPU<%= temp %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>