<div class="container">
  <div class="row ">
    <div class="col-sm-10 col-md-12 mx-auto mt-3">
      <h3 class="h3">Welcome</h3>
      <div class="card2 w-sm-75 w-md-50 mx-auto mt-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">0からMVCモデルやネットワーク構造を探りながら組み立てているサイトです</h5>
          <p class="card-text">滞在地から500kmほど離れている実家にあるラズパイをサーバーとして、SSH等を利用してデプロイしています。</p>
          <p class="card-text">初の実用サイトなので、色々ミスもあるかもしれませんが、楽しんで少しずつやっています。</p>
          <p class="card-text">はじめて訪れる方は<a href="https://yutyan.net/posts/42">こちら</a>を御覧ください。</p>
          <p class="card-text text-center h5">
            現在のCPU<%= temp %>
          </p>
        </div>
      </div>
      <h4 class="h4">サイト利用可能時間帯</h3>
        <p>不定期でサイトを更新していることがあります。その際は時間を置いてアクセスしてください。</p>
        <h3 class="h3">サイトが停止していました</h3>
        <p>5月17日深夜早朝未明よりサイトがアクセス不可となっていました。原因は使用しているルーターのモードが自動的に切り替わったことでした。現在は正常に動作しています。</p>
    </div>
  </div>
  <hr>
  <div class="row ">
    <div class="col-sm-10 col-md-12 mx-auto mt-3">
      <div class="card2 w-sm-75 w-md-50 mx-auto mt-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">I'm building this site while studying the MVC model and network.</h5>
          <p class="card-text">I use Raspberry Pi as server which is located at my parents' house about 500km away from
            my home.</p>
          <p class="card-text">For first visitors: <a href="https://yutyan.net/posts/42">This</a> is my introduction and
            description about this site. (sorry for only japanese.)</p>
          <p class="card-text text-center h5">
            Now CPU<%= temp %>
          </p>
        </div>
      </div>
      <h4 class="h4">available time</h3>
        <p>I often stop server to maintenance the site. If you can't see the page, please leave some time and access the
          page again.</p>
    </div>
  </div>
</div>