
  <div class="container">
        <div class="card2 w-sm-75 w-md-50 mx-auto mt-3 mb-3">
          <div class="card-body">
            <h5 class="card-title">作成中のページです。</h5>
            <p class="card-text">作成中です。少々お待ち下さい。</p>
          </div>
        </div>
	<div class = "markdown" >
	  <%- markdowntxt %> 
  	</div>
  </div>