
  <div class="container">
    <div class="row ">
      <div class="col-sm-8 col-md-6 mx-auto mt-3 h-100">
        <form action=<%="/posts/"+ post.id+ "/edit" %> method="post" >
            <label for="ttile" class="form-label">タイトル </label>
            <input class="form-control" id="title" type="text" name="title" value="<%= post.title %>">
            <label class = "form-label" for="body">本文 You can write in markdown. Ctrl+S will show you markdown style.</label>
            <textarea class = "form-control" name="body" id="body" cols="30" rows="10" ><%= post.article %></textarea>
            <label class = "form-label" for="name">執筆者名</label>
            <input class = "form-control" id = "name" type="text" name = "author" value="<%= post.author %>">
            <div class = "text-end mt-2">
              <input type="submit" value="OK" class = "btn btn-sm btn-primary">
            </div>
          </div>
        </form>
          <div class = "col-md-6 card mt-5 pt-1 pb-1" >
            <span id = "markdown-article" class = " markdown-body scroll"></span>
          </div>
        </div>
      </div>
  <script src="/javascripts/textarea.js"></script>

