<div class="container">
    <div class="row ">
      <div class="col-sm-8 col-md-6 mx-auto mt-3">
        <form action="/users/sign_up" method="post" >
            <label for="user_name" class="form-label">User name</label>
            <input class="form-control" id="user_name" type="text" name="user_name" value="">
            <label class = "form-label" for="email">email</label>
            <input class="form-control" id="email" type="email" name="email" value="">
            <label class = "form-label" for="password">Password</label>
            <input class = "form-control" id = "password" type="password" name = "password">
            <label class = "form-label" for="Cpassword">Confirmation Password</label>
            <input class = "form-control" id = "Cpassword" type="password" name = "Cpassword">
            <div class = "text-end mt-2">
                <input type="submit" value="Sign up" class = "btn btn-sm btn-primary">
              </div>
        </form>
      </div>
    </div>
  </div>
  <script src="/javascripts/textarea.js"></script>
