  <div class="container">
    <div class="row ">
      <div class="col-sm-8 col-md-6 mx-auto mt-3">
        <form action="/posts/new" method="post" >
            <label for="tile" class="form-label">タイトル </label>
            <input class="form-control" id="title" type="text" name="title" value="">
            <label class = "form-label" for="body">本文 You can write in markdown. Ctrl+S will show you markdown style.</label>
            <textarea class = "form-control" name="body" id="body" cols="30" rows="10"></textarea>
            <div class = "text-end mt-2">
              <input type="submit" value="OK" class = "btn btn-sm btn-primary">
            </div>
        </form>
      </div>
      <div class = "col-md-6 card mt-5 pt-5 pb-5">
        <span id = "markdown-article" class = "markdown-body"></span>
      </div>
    </div>
  </div>
  <script src="/javascripts/textarea.js"></script>
